@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    font-family:  'Inter', 'Poppins', sans-serif;
    text-decoration: none;
    scrollbar-width: none;
    /* border: 1px solid black; */
}

body{
    padding-left: 330px;
    background-color: #f3f0ff;
}

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 95%;
    /* height: 75vh; */
    padding: 30px;
}


.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	/* width: 240px; */
	height: 94vh;
	padding: 30px 0 10px 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 1px solid #E5E5E5;
}

.sidebar-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F9F9FB;
	height: 100%;
	width: 250px;
	padding: 40px 5px 0px 5PX;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.sidebar-container .profile{
	border: 5px solid #e5e4ff;
	width: 90px;
    height: 90px;
	border-radius: 50%;
	margin-bottom: 40px;
    object-fit: cover;
}

.menu{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 240px;
	padding-left: 5px;
}


.menu a {
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
	color: #6C757D;
	font-weight: 500;
	padding: 15px 30px;
	border-radius: 10px;
	margin-bottom: 15px;
	transition: 0.3s;
	border: 1px hidden #e5e4ff;
	border-left:3px solid #e5e4ff;
	
}

.menu a:hover,
.menu a.active {
	background-color: #e5e4ff;
}

.nav{
	display: flex;
	padding-top:20PX ;
    padding: 30px;
    padding-bottom: 0;
}

.nav-container{
	display: flex;
	width: 100%;
	height: 50px;
	padding: 30px 50px;
	background-color: #fff;
	align-items: center;
	justify-content:space-between;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.nav-button{
	display: flex;
	gap: 20px;
}

.logo {
	display: flex;
	align-items: center;
	gap: 5px;
	font-weight: 800;
	font-size: 25px;
	color: #6C63FF;
}

.logo img{
	width: 30px;
}

.auth-links{
	display: flex;
	gap: 20px;
}

.auth-links a {
    text-decoration: none;
    font-weight: 600;
    padding: 7px 15px;
    border-radius: 6px;
    transition: 0.2s;
}

.auth-links .btn-logout {
    /* border: 1px solid black; */
    color: white;
    background-color: red;
}

.auth-links .btn-logout:hover {
    opacity: 0.7;
    
}

.auth-links .btn-login {
    background-color: #6C63FF;	
    color: white;
}

.auth-links .btn-login:hover {
    opacity: 0.8;
}

.auth-links .btn-setting {
    background-color: #444;	
    color: white;
}

.auth-links .btn-setting:hover {
    opacity: 0.8;
}

.welcome{
	background-image: url(../img/welcome.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	padding: 65px 30px;
	/* margin-right: 30px; */
    width: 96%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	color: #fff;
	gap: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.welcome img{
    position: absolute;
    width: 215px;
    right: 130px;
}

.welcome p{
    width: 550px;
    font-size: 18px;
	text-align: justify;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 15px;
}

table th {
    background: #6A5BFF; 
    color: white;
    padding: 14px 10px;
    text-align: left;
    font-weight: 600;
    border: none;
    font-size: 15px;
}


table td {
    padding: 12px 10px;
    border-bottom: 1px solid #e0e0e0;
    color: #444;
	
}


table tr:hover td {
    background: #f7f7ff;
}


button {
    padding: 6px 16px;
    background: #11c26f;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}


button:hover {
    background: #0ea95d;
}

button img, 
button i {
    width: 16px;
    height: 16px;
}


button.dipinjam {
    background: #b0b0b0;
}
button.dipinjam:hover {
    background: #9a9a9a;
}

.cover{
    width: 200px;
    height: 300px;
    /* border-radius: 20px; */
    border-radius: 10px 0 0 10px;
}

.menu_dafbuk{
    padding: 50px 30px;
    /* padding-right: 10PX; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 96%;
    gap: 50px;
    text-align: left;
    background-color: #fff;
    border-radius: 10px;
}

.dafbuk{
    display: flex;
    width: 46%;
    border-radius: 10px;
    height: 300px;
    gap: 15px;
    align-items: center;
    justify-content: left;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.dafbuk-koleksi{
    display: flex;
    width: 90%;
    border-radius: 10px;
    height: 300px;
    gap: 15px;
    align-items: center;
    justify-content: left;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.buku{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 100px ;
    gap: 5px;
}

.menu_dafbuk h3{
    width: 250px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}

.menu_dafbuk p{
    font-size: 14px;
    width: 300px;
    color: #6C757D;
}

.menu_dafbuk .buku button{
    margin-top: 30px;
}

.box{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 550px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.box h1{
    margin-bottom: 20px;
}
.box form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.box label{
    width: 150px;
    font-weight: 600;
    text-align: left; 
}

.box input{
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #e5e4ff;
    background-color: #e5e4ff;
    width: 100%;
}
.box button{
    padding: 12px 20px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    width: 150px;
    margin: 0 auto;
}
.input select{
    padding: 10px 90px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color:  #d6d1ec;
    cursor: pointer; 
    font-weight: 600;
    color: #6C757D;
    text-align: center;
}